<!-- Header of website -->
<app-header></app-header>

<!-- Template of this component -->
<main>
  <!-- Loaded Users Component -->
  <ul id="users">
    @for(user of users; track user.id){
    <!-- this track here tells angular that
    this the thinng with which you should uniquely identify below list items -->
    <li>
      <app-user
        [selected]="user.id == selectedUserId"
        [user]="user"
        (select)="onSelectUser($event)"
      ></app-user>
    </li>
    }
  </ul>

  <!-- Taks component is loaded here -->
  @if(userSelected){

  <app-tasks [userId]="userSelected.id" [name]="userSelected.name" />
  }@else {
  <p id="fallback">Please select a user to se their tasks</p>
  }
</main>

<router-outlet/>
